/// 2019 (c) Copyrights by Asmus, Bartsch, Pauli

table{
    width: 100%;

    thead{
        background-color: rgb(80, 80, 80);
    }
    tbody{
        background-color: rgb(128, 128, 128);
    }
}

#ev_draws{
    td{
        text-align: center;
    }
}