/// 2019 (c) Copyrights by Asmus, Bartsch, Pauli

$clr_text: #fff;
$clr_background: #313131;
$clr_content_background: #fff;

$clr_head_text: $clr_text;
$clr_head_background: #007bff;

$clr_lotto_num_text: #fcd5d6;
$clr_lotto_num_background: #d76b6b;
$clr_lotto_num_border: $clr_lotto_num_text;


$clr_lotto_num_active_text: #16272f;
$clr_lotto_num_active_background: #788993;


$clr_default: rgb(114, 114, 114);