/* 2019 (c) Copyrights by Asmus, Bartsch, Pauli
 */




$clr_text: rgb(49, 49, 49);

$clr_head_text: #f22301;
$clr_head_background: #fdda06;

$clr_lotto_num_text: #d76b6b;
$clr_lotto_num_background: #fcd5d6;
$clr_lotto_num_border: $clr_lotto_num_text;

$clr_background: #fff;
$clr_content_background: #f3dbd9;

$clr_default: rgb(114, 114, 114);

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $clr_background;
    color: $clr_text;
}

button{
    color: $clr_text;
    border: solid 1px $clr_text;
    background-color: $clr_default;
    border-radius: 4px;

    &:focus{
        box-shadow: $clr_default 0 0 2px 2px;
        outline: none;
    }
}

footer{

    .copyrights{
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

.lotto-brand{
    margin: 0 20px 0 20px;
    background-color: $clr_head_background;
    color: $clr_head_text;
    height: 40px;
    .brand{
        font-size: 25px;
        font-weight: bold;
    }
    .icon{
        float: right;
        height: 40px;
    }
}

.content{
    display: flex;
    margin: 0 20px 0 20px;
    border: solid 1px $clr_default;


    .lotto-columns, .lotto-board{
        border: solid 1px $clr_default;
    }
    .lotto-columns{        
        flex-grow: 1;
    }
    .lotto-board{
        flex-grow: 1;
    }
}

.lotto-columns{
    display: flex;
    width: 30rem;
    height: 41rem;
    flex-wrap: wrap;

    .column{
        width: 15rem;
        margin: 3px;
        padding: 2px;

        .btn-num{
            width: 1.8rem;
            margin-right: 3px;
            background-color: $clr_lotto_num_background;
            color: $clr_lotto_num_text;
            border: solid 1px $clr_lotto_num_border;

            &.active{
                color: #231d4d;
                background-color: #b3ace0;
            }
        }
    }
}

.lotto-board{
    max-width: 30rem;
    .board-columns{
        display: flex;
        flex-direction: column;
        .column{
            flex-grow: 1;
            border-bottom: solid 1px $clr_default;

            &:last-child{
                border-bottom: none;
            }
        }
    }
}

.selection{
    display: flex;
    margin: 5px;
    .number{
        $sn_size: 1.25rem;
        width: $sn_size;
        height: $sn_size;
        text-align: center;
        vertical-align: middle;
        line-height: $sn_size;
        background-color: $clr_lotto_num_background;
        border: solid 1px $clr_lotto_num_border;
        border-radius: 100%;
    }
}