/* 2019 (c) Copyrights by Asmus, Bartsch, Pauli */

$clr_text: #fff;
$clr_background: rgb(18, 18, 18);

$clr_default: rgb(114, 114, 114);

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $clr_background;
    color: $clr_text;
}

button{
    color: $clr_text;
    border: solid 1px $clr_text;
    background-color: $clr_default;
    border-radius: 4px;

    &:focus{
        box-shadow: $clr_default 0 0 2px 2px;
        outline: none;
    }
}

footer{

    .copyrights{
        margin-bottom: 10px;
        margin-left: 10px;
    }
}


.content{
    display: flex;
    margin: 0 20px 0 20px;
    border: solid 1px $clr_default;

    .lotto-pages, .lotto-board{
        border: solid 1px $clr_default;
    }
    .lotto-pages{        
        flex-grow: 1;
    }
    .lotto-board{
        flex-grow: 1;
    }
}

.lotto-pages{
    display: flex;
    width: 30rem;
    flex-wrap: wrap;

    .page{
        width: 15rem;
        margin: 3px;
        padding: 2px;

        .btn-num{
            width: 1.8rem;
            margin-right: 3px;

            &.active{
                background-color: rgb(224, 69, 69);
            }
        }
    }
}

.lotto-board{
    flex-grow: 2;
    .board-pages{
        display: flex;
        flex-direction: column;
        .page{
            flex-grow: 1;
            border-bottom: solid 1px $clr_default;

            &:last-child{
                border-bottom: none;
            }
        }
    }
}

.selection{
    display: flex;
    margin: 5px;
    .number{
        width: 2rem;
        text-align: center;
        border: solid 1px $clr_default;
    }
}